/*******************************************************************************
 * ARTICLE
 ******************************************************************************/

/*CONTENT*/

div.article {
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: -20px;
  background-color: #eee;
}

div.article > div.sidebar {
  width: 250px;
  height: 100%;
  background-color: #eee;
  position: absolute;
}

div.article > div.sidebar > h3 {
  text-align: center;
}

div.article > div.sidebar > h3 > a {
  color: #000;
}

div.article > div.sidebar > h3 > a:hover {
  color: #428bca;
  text-decoration: none;
}

div.article > div.sidebar > ul.sidebar-articles {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

div.article > div.sidebar > ul.sidebar-articles > li.baart {
  list-style: none;
  width: 100%;
}

div.article > div.sidebar > ul.sidebar-articles > li.baart > a {
  display: inline-block;
  width: 100%;
  padding: 10px 56px;
  color: #000;
}

div.article > div.sidebar > ul.sidebar-articles > li.baart > a:hover {
  background-color: #ddd;
  text-decoration: none;
}

div.article > div.article-content-wrapper {
  padding: 20px 250px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
  
}