/*******************************************************************************
 * CATEGORY
 ******************************************************************************/

/*CONTENT*/

div.category > section.bacat > div.baart {
  margin: 40px;
}

div.category > section.bacat > div.baart > a > img {
  width: 300px;
  height: 300px;
}