/*******************************************************************************
 * COMMON
 ******************************************************************************/

/*HEADER*/

header.blog-header {
  background-color: #428bca;
  height: 200px;
  margin: 0px 0px 20px;
}

header.blog-header > div > h1 {
  font-size: 64px;
  margin-top: 119px;
}

header.blog-header > div > h1 > a,
header.blog-header > div > h1 > a:hover,
header.blog-header > div > h1 > a:visited {
  color: #fff;
  text-decoration: none;
}